name: Network E2E Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allow manual trigger
  workflow_dispatch:

jobs:
  test-network-e2e:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
    - name: Test Network E2E
      run: E2E_REAL_NETWORK=1 go test ./tests/e2e/... -v -timeout 120s
      env:
        E2E_REAL_NETWORK: "1"
